@model AssignmentWebASP.NET.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminManager/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4><b>Name</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            <h4><b>Image</b></h4>
        </dt>

        <dd>
            <img src="~/Assets/Image/Product/" width="200" height="100" />
        </dd>

        <dt>
            <h4><b>Description</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            <h4><b>Price</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            <h4><b>Status</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            <h4><b>Create Date</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createAt)
        </dd>

        <dt>
            <h4><b>Category</b></h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
